<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">
	<select parameterType="map" id="consultarItemsRentados" resultMap="ItemRentadoResult">
				select
				ir.id ,
				ir.cliente_documento ,
				ir.items_id ,
				ir.fechainiciorenta ,
				ir.fechafinrenta

			
				FROM VI_ITEMRENTADO as ir;
	</select>
    <resultMap type='ItemRentado' id='ItemRentadoResult'>
		<id property='id' column='irId'/>
		<result property='fechainiciorenta' column='irFechaInicioRenta'/>
		<result property='fechafinrenta' column='irFechaFinRenta'/>
                <association property="item" javaType="Item"></association>
	</resultMap>

                
</mapper>